pywin32
pyaudio
keyboard
pycryptodome
termcolor
psutil
cryptography
pycryptodomex
websocket-client
sounddevice
scipy
discord
requests
opencv-python
uuid
tqdm
wmi
customtkinter
colorama
fade
pillow
PyInstaller>=5.4.1