pywin32
keyboard
pycryptodome
termcolor
psutil
pillow
cryptography
pycryptodomex
websocket-client
sounddevice
scipy
discord
requests
opencv-python
uuid
tqdm
wmi
customtkinter
colorama
PyInstaller>=5.8.0
fade
