pywin32
pyaudio
keyboard
pycryptodome
termcolor
pywinauto
psutil
mss
cryptography
pycryptodomex
websocket-client
win10toast
sounddevice
scipy
discord
discord_webhook
requests
opencv-python
bit
uuid
customtkinter
CTkToolTip
CTkTable
tqdm
wmi
colorama
fade
pillow
coincurve
PyInstaller
pyperclip
zlib